In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [4]:
data_url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-06-trees/CreditScoring.csv'
#!wget $data_url -O 'credit_scoring.csv'

In [5]:
df = pd.read_csv('credit_scoring.csv')

In [6]:
df.head().T

             0     1     2     3    4
Status       1     1     2     1    1
Seniority    9    17    10     0    0
Home         1     1     2     1    1
Time        60    60    36    60   36
Age         30    58    46    24   26
Marital      2     3     2     1    1
Records      1     1     2     1    1
Job          3     1     3     1    1
Expenses    73    48    90    63   46
Income     129   131   200   182  107
Assets       0     0  3000  2500    0
Debt         0     0     0     0    0
Amount     800  1000  2000   900  310
Price      846  1658  2985  1325  910

In [8]:
!wget 'https://raw.githubusercontent.com/nicepeopleproject/mlbookcamp-code/master/course-zoomcamp/04-evaluation/homework-4-starter.ipynb'

--2021-09-30 12:27:23--  https://raw.githubusercontent.com/nicepeopleproject/mlbookcamp-code/master/course-zoomcamp/04-evaluation/homework-4-starter.ipynb
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11718 (11K) [text/plain]
Saving to: ‘homework-4-starter.ipynb’

homework-4-starter. 100%[===================>]  11.44K  --.-KB/s    in 0.001s

2021-09-30 12:27:24 (20.0 MB/s) - ‘homework-4-starter.ipynb’ saved [11718/11718]